<header class="site-header sticky-top py-1 bg-dark">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
  <%= link_to root_path, class:"py-2" do %>
  <i class="fas fa-users fa-2x"></i>
  <% end %>
  <%= link_to "New Post", new_post_path, class:"py-2 d-none d-md-inline-block nav-link text-secondary fw-bolder" %>
</span>
  </nav>
</header>