<header class="site-header sticky-top py-1 bg-dark">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
  <%= link_to root_path, class:"py-2" do %>
  <i class="fas fa-users fa-2x"></i>
  <% end %>
</span>
  </nav>
</header>