<div class="col-12 col-md-6">
  <div>
  </div>
  <div>
    <h4 class="text-white fs-3 fw-bold"> <%= current_user.name %> </h4>
    <h5 class="text-white"><%= current_user.username%></h5>
  </div>
  <div>
    <span class="text-white">Posts:<%= current_user.posts.count%></span>
  </div>
</div>